<div class="container">
  <h2>Lista de Máquinas</h2>

  <div>
    <label>Filtrar por Status:</label>
    <select [(ngModel)]="filtroStatusMaquina" (change)="onStatusChange()">
      <option value="">Todos</option>
      <option value="operando">Operando</option>
      <option value="manutencao">Manutenção</option>
      <option value="desligada">Desligada</option>
    </select>
  </div>

  <button class='button' (click)="goToCadastroMaquina()">Cadastrar máquina</button>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Localizacação</th>
        <th>Status atual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maquina of maquinas">
        <td>{{ maquina.nome }}</td>
        <td>{{ maquina.localizacao }}</td>
        <td>{{ maquina.status }}</td>
        <td><a [routerLink]="['/maquina', maquina.id]">Detalhes</a></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="erro" class="error-message">
    {{ erro }}
  </div>
</div>